

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.product{
    background-color: snow;
    height: 100vh;
}
.product-box img{
    width: 400px;
    display: block;
    margin: auto;

}
.main{
    text-align: center;
}
.main-box{
    width: 80px;
    height: 80px;
    display: inline-block;
    cursor: pointer;
    border: 2px solid blue;
}
.main-box.active{
    background-color: rgb(221, 169, 132);
}
.main-box img{
    width: 100%;
    height: 100%;
}

@media (max-width:991px){
    .product{
        width: 100%;
        height: 100%;
    }
}